<div class="wrapper">
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(130,0,80,0.3) 0%, rgba(50,0,25,0.3) 50%), url('http://i68.tinypic.com/dddkcm.jpg');">
  <div class="banner-content">
    <h1><%= @cocktail.name%></h1>
    <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
  </div>
</div>


<h2>Ingredients</h2>

<div class="container">
<ul>
  <% @doses.each do |dose| %>
    <li><%= link_to dose.description%> <%= dose.ingredient.name %></li>
    <%=link_to 'Delete', dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</ul>
<p><%= link_to 'Add ingredient', new_cocktail_dose_path(@cocktail) %></p>
<%= link_to 'Delete', cocktail_path(@cocktail), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>


</div>
